#notifications.has-notifications {
    color: #bf5329;
}

.a-notification {
    width: 300px;
    margin: 2px;
    display: block;
    color: black;
    border: 1px solid grey;
    padding: .5em;
    border-radius: 3px;
    text-align: justify;
}

.li-notification {
    padding: 0 1em;
}
